* {
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}


body{
    font-family: "Proxima Nova",Arial,sans-serif;
    background-color: #f3f4f7;
}

.top{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    height: 60px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.1);
} 

.top_baner{
    display: flex;
    margin-left: 10%; 
    align-items: center;
    
}

.top_baner > a {
    display: flex;
    align-items: center;
}

.baner{
    font-size: 25px;
    margin-left: 5px;
}

.top_menu{
    margin-left: 1rem;
    font-size: 13px;
}

.top_menu a {
    margin: 0 7px 0 7px;
}

.top_end{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 30%;
    justify-content: center;
    
}

.top_follow{
    display: flex;
    align-items: center;
    background-color: #204ecf;
    font-size: 14px;
    border-radius: 4px;
    padding: 0 20px;
    height: 40px;
}

.top_login{
    font-size: 13px;
    margin-left: 20px;
}

.sec_top{
    background-color: #f3f4f7;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 59px;
    box-shadow: inset 0 3px 7px 0 rgba(0,0,0,0.1);
    
}

.design_kat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #204ecf;
    height: 59px;
    width: 20%;
}

.design_kat a {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.design_kat span {
    margin-left: 10px;
    font-size: 19px;
}

.design_kat i {
    font-size: 20px;
}

.search{
    display: flex;
    align-items: center;
    width: 52%;
    margin-right: 10%;
    
}
.search input {
    width:80%;
    height: 20px;
    border-style:none ;
    background-color: #f3f4f7;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.1);
}

input::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.search i {
    margin: 14px;
}

.bars_i > i{
    margin-left: 1rem;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.2);
}

.background{
    height: 1000px;
    background-color: white;
    width: 100%;
}

@media screen and (max-width:1330px) {
    .top_menu {
        display: none;
    }
    .top_login {
        display: none;
    }
}
@media screen and (min-width: 1330px) {
    .bars_i > i {
        display: none;
    }
}
@media screen and (max-width: 930px) {
    .design_kat{
        width: 65%;
    }
    .search{
        width: 10%;    
    }
    .search input {
        display: none;
    }

    .top_follow{
        display: none;
    }
}